html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
}

h1 {
  color: #333;
  display: block;
  text-align: center;
  font-size: 2rem;
}

main {
  display: flex;
}

img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: bold;
}

div p:first-child {
  font-style: italic;
}

div {
  padding: 1.5rem;
  border-left: 1px solid black;
  font-size: 1rem;
}

.quest {
  background-color: #e2e2e2;
}

.dino {
  background-color: #ccc;
}

.dragon {
  background-color: #aaa;
}

.ships {
  background-color: #999;
  border-right: 1px solid black;
}

.btn {
  background-color: #333;
  color: white;
}

.btn:hover {
  background-color: black;
  color: white;
}

a {
  display: block;
  border-radius: 5px;
  text-decoration: none;
  padding: .75rem;
}
