html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

h2 {
  color: black;
  display: block;
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem 0;
}

main {
  display: flex;
}

img {
  width: 100%;
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-weight: bold;
  margin: 1.5rem 0 0;
  font-size: 1rem;
}

div p:first-child {
  font-style: italic;
}

div {
  padding: 1.5rem;
  border-left: 1px solid black;
  font-size: 1rem;
}

.author {
  margin: 0;
  font-style: italic;
}

.big {
  display: flex;
  padding-top: 0;
}

.quest {
  width: 25%;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  padding: .75rem .7rem;
}

.dino {
  padding: .75rem .7rem;
  width: 25%;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}

.dragon {
  padding: .75rem .7rem;
  width: 25%;
  background-color: #aaa;
  display: flex;
  flex-direction: column;
}

.ships {
  padding: .75rem .7rem;
  width: 25%;
  background-color: #999;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.conteint {
  flex-grow: 1;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  text-decoration: none;
  padding: .4em .75em .3em;
  border-radius: 10px;
  background-color: #333;
  color: white;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  background-color: black;
  color: white;
}
